export EDITOR vi

if has uv; then
    if [ ! -d .venv ]; then
        uv venv .venv
    fi
    PATH_add .venv/bin
    uv pip install "freecad-tools @ git+https://github.com/ebirn/freecad_tools@v0.6.0"
else
    echo "no uv installed"
fi

# Hook into pre-commit if available
if has pre-commit; then
    pre-commit install-hooks
    pre-commit autoupdate
else
    echo "no pre-commit installed"
fi
