export EDITOR vi

if has uv; then
    PATH_add .venv/bin
    uv sync
else
    echo "no uv installed"
fi

# Hook into pre-commit if available
if has pre-commit; then
    pre-commit install-hooks
    pre-commit autoupdate
else
    echo "no pre-commit installed"
fi
